# API URL for the Mocked Oracle Backend
NEXT_PUBLIC_BACKEND_URL=http://localhost:5000

# Stellar & Blockchain Configuration
# Network to connect to (e.g., TESTNET, PUBLIC, STANDALONE)
NEXT_PUBLIC_STELLAR_NETWORK=TESTNET

# Soroban RPC URL for interacting with smart contracts
NEXT_PUBLIC_RPC_URL=https://soroban-testnet.stellar.org

# The Contract ID of the deployed Soroban Escrow contract
NEXT_PUBLIC_CONTRACT_ID=
